<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iTarawih : تراويح</title>
    <style>
        .zebra tr:nth-child(even) {
            background: #fff3dc;
            }
        .zebra tr:nth-child(odd) {
            background: #fff8e5;
            }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    
</head>
<body style='background-color:#fff8e5'>

<nav class="navbar navbar-expand-lg navbar-dark bg-default" style="background-color:#113946">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand">
        <i class="fa-solid fa-mosque"></i>
        iTarawih<sup>&copy;</sup> : تراويح</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <!-- <a href="#" class="nav-item nav-link">Group QR-Code</a> 
                <a href="#" class="nav-item nav-link">QR-Code Count</a>  -->
            </div>
            <div class="navbar-nav ms-auto">    
                <a href="surah.html" class="nav-item nav-link">Surah-Selection</a>         
                <a href="about.html" class="nav-item nav-link">About</a>
            </div>
        </div>
    </div>
</nav>
    
    
<div class="container">
<br>
<div class="row" style="text-align:center">
<center> 
    <div id="app">

       <br>

       <div v-if="nodata"> <!-- แสดงเฉพาะเวลาไม่มีข้อมูล ถ้ามีข้อมูล จะไม่แสดง -->
        <div class="row justify-content-md-center" >                     
            <div class="col-md-auto" style=background-color:lightgray;>
            <!-- <div class="col-md-auto" > -->

                
                <div class="mb-.1">
                    Quran & Translation Languages
                </div>
                

                 <div class="btn-group btn-sm" role="group">
                       

                       <template v-for="lang in languages"><!--ไม่มี template แต่เขียนไว้แวน directive เฉยๆได้  -->
                          <div v-if="lang.name =='Quran'">  
                           <input type="radio" :id="lang.name" class="btn-check" 
                            name="language" :value="lang.name"
                            v-model="currentLang">
                            <label :for="lang.name" class="btn btn-outline-primary btn-sm"><b>{{lang.name}}</b></label>
                            &nbsp;&nbsp;
                          </div> 
                          
                          <div v-if="lang.name !='Quran'"> 
                            <input type="radio" :id="lang.name" class="btn-check" 
                            name="language" :value="lang.name"
                            v-model="currentLang">
                            <label :for="lang.name" class="btn btn-outline-dark btn-sm">{{lang.name}}</label>
                          </div>  
                       </template> 

              </div> 

                <h5>Juz Selection</h5>
                 <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(1)">&nbsp;Juz 1&nbsp;</button>
                        &nbsp;
                        <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(2)">&nbsp;Juz 2&nbsp;</button>
                        &nbsp;
                        <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(3)">&nbsp;Juz 3&nbsp;</button>
                        &nbsp;
                        <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(4)">&nbsp;Juz 4&nbsp;</button>
                        &nbsp;
                        <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(5)">&nbsp;Juz 5&nbsp;</button>
                  </div>
                 
                 <p>
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(6)">&nbsp;Juz 6&nbsp;</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(7)">&nbsp;Juz 7&nbsp;</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(8)">&nbsp;Juz 8&nbsp;</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(9)">&nbsp;Juz 9&nbsp;</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(10)">Juz 10</button>
                </div>
            </p>
            <p>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(11)">Juz 11</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(12)">Juz 12</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(13)">Juz 13</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(14)">Juz 14</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(15)">Juz 15</button>
                </div>
            </p>
            <p>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(16)">Juz 16</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(17)">Juz 17</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(18)">Juz 18</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(19)">Juz 19</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(20)">Juz 20</button>
                </div>
            </p>
            <p>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(21)">Juz 21</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(22)">Juz 22</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(23)">Juz 23</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(24)">Juz 24</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(25)">Juz 25</button>
                </div>
            </p>
            <p>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(26)">Juz 26</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(27)">Juz 27</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(28)">Juz 28</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(29)">Juz 29</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" v-on:click="sendRequest(30)">Juz 30</button>
                </div>
             </p>
            </div>
            </div>
       </div>

        
        <!-- {{info}} -->
        <center> 
        



        <!-- ถ้ากำหนดค่า juzselected ถึงจะแสดง -->
        <h4 v-if="juzselected" style="background-color:#cdc0b0">
            <a href="index.html"><i class="fa-solid fa-backward"></i></a> 
            {{ 'Juz '+ juzselected}}
        </h4>
        <table border="0" class="zebra">
            <tbody>
                <tr>  
                    <td><b>{{surah_txt}}&nbsp;</b></td>
                    <td><b>{{ayat_txt}}&nbsp;</b></td>
                    <td><b>{{translate_txt}}</b></td>
                </tr>
                <tr v-for="row in info" >  
                    <!--<td>{{row.chapter }}</td>
                     <td>{{row.verse}}.</td> 
                    <td>{{row.text}}</td>-->
                    
                    <!-- ตรวจสอบ เพื่อให้มีเว้นวรร ระหว่าง Surah -->
                    <td v-if="row.verse == 1"><br>{{row.chapter}}</td>
                    <td v-else>{{row.chapter}}</td>

                    <td v-if="row.verse == 1"><br>{{row.verse}}</td>
                    <td v-else>{{row.verse}}</td>

                    <td v-if="row.verse == 1"><br>{{row.text}}</td>
                    <td v-else>{{row.text}}</td>
                                        
                   
                </tr>
            </tbody>
        </table> 
        </center>
    </div>

</center>  
</div><!-- row -->
<br>
<br>
<br>
<footer>
    <div class="row">
        <font size=1 color=gray><center>
            <p><i class="fa-solid fa-mosque"></i>  iTarawih<sup>&copy;</sup> : تراويح  &nbsp;&nbsp;by KidmatApps, Copyright 2024 </p>
        </center></font> 
    </div>
</footer>
</div><!-- container -->

<!-- ///////////////////////VUE.JS/////////////////////// -->
    <script>
          new Vue({
                el: '#app',
                data () {
                    return {
                        languages:[
                            {name: 'Quran'},
                            {name: 'English'},
                            {name: 'Thai'},
                            {name: 'Malay'}
                        ],
                        info: null,
                        todayDate: new Date().toLocaleDateString(),
                        surah_txt: null,
                        ayat_txt: null,
                        translate_txt: null, 
                        nodata: true,
                        juzselected: null,
                        currentLang: 'Thai',
                        selectLang: '',
                    }
                },
                methods: {
                    sendRequest(juz) {
                        //const targetURL ='http://localhost/vue-study/backend/api_endpoint.php'
                        //const targetURL ='https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/editions/tha-kingfahadquranc/juzs/30.json'
                        
                        const selectLang = this.currentLang;
                        //alert(selectLang)
                        if(selectLang =='Thai'){
                            rootpathURL ='https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/editions/tha-kingfahadquranc/juzs/'
                        }
                        if(selectLang =='Malay'){ //use indonesian
                            
                            rootpathURL ='https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/editions/ind-indonesianislam/juzs/'
                        }
                        if(selectLang =='English'){
                            rootpathURL ='https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/editions/eng-talalaitaninewt/juzs/'
                        }
                        if(selectLang =='Quran'){
                            rootpathURL ='https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/editions/ara-qurankhaledhosn/juzs/'
                        }
                        
                        const selectJuz = juz + '.json'
                        const targetURL = rootpathURL + selectJuz
                        //const targetURL ='https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/editions/tha-kingfahadquranc/juzs/' + selectJuz
                    
                        axios.get(targetURL)
                        .then(response => (this.info = response.data.juzs))
                        .then(response => (console.log(response)))
                        
                        this.surah_txt = 'Surah'
                        this.ayat_txt = 'Ayat'
                        //this.translate_txt = 'Translation'
                        if(selectLang =='Thai'){
                            this.translate_txt = 'คำแปลภาษาไทย'
                        }
                        if(selectLang =='Malay'){ //use indonesian
                            this.translate_txt = 'Terjemahan-Malaysia'
                        }
                        if(selectLang =='English'){
                            this.translate_txt = 'English-Translation'
                        }
                        if(selectLang =='Quran'){
                            this.translate_txt = 'Quran-Vers'
                        }

                        this.nodata = false
                        this.juzselected = juz
                        
                    }
                }
                })
    </script>
</body>
</html>
